

<div class="checkout">
  <div class="container">
    <div class="col12">
      <h2>Checkout</h2>
    </div>
  </div>
  <div class="container">
    <div class="col6">
      <h3>Selecciona la ubicación de tu fiesta</h3>
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
        <ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fill="p.fill" fit="false"> </ui-gmap-polygon>
      </ui-gmap-google-map>
      <!--p UBICACION: {{marker.coords.latitude}} | {{marker.coords.longitude}}-->
      <!--p {{order.customer_address = address}}-->
    </div>
    <div class="col6">
      <h3>Datos de entrega</h3>
      <form>
        <input type="text" placeholder="Dirección" ng-model="order.customer_address">
        <input type="text" placeholder="Código Postal" ng-model="order.customer_zipcode">
        <input type="text" placeholder="Referencias del domicilio" ng-model="order.customer_references">
        <input type="text" placeholder="Notas sobre la dirección" ng-model="order.customer_note">
      </form>
    </div>
  </div>
  <div class="container">
    <div class="col6 push6">
      <p class="inst tac">Realizar Pago</p><a ng-click="pay()" class="checkoutBtn">
        <div class="pplogo"><img src="site/img/paypal.svg" alt=""></div></a>
    </div>
  </div>
</div>